* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: #0b032d;
	margin-left: 10%;
	margin-right: 10%;
}

p,
h2,
h1 {
	color: rgb(230, 230, 230);
	font-family: "Poppins", sans-serif;
}
h3,
h4 {
	color: #f67e7d;
	font-family: "Poppins", sans-serif;
}

/* this makes the grey hover fill all space of the link */
li {
	width: 100%;
	height: 100%;
	text-align: center;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexboxItem {
	width: 100%;
	margin: 0px;
	/* border: 3px solid #f67e7d; */
}

.intro {
	animation: left-load 1s;
}

#ijasImage {
	width: 70%;
	border-radius: 20%;
}

.ijasImageContainer {
	display: flex;
	justify-content: center;
	margin: 0px;
	animation: right-load 1s;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background-color: #0b032d;
	font-family: "Poppins", sans-serif;
	animation: nav-load 1s;
}

.logo {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.nav-links ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav-links li {
	display: block;
}

.nav-links a {
	color: rgb(230, 230, 230);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	display: block;
	padding: 29px;
}

.nav-links li:hover a {
	color: #f67e7d;
	transition: 0.3s;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: #f67e7d;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	* {
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	body {
		overflow-x: hidden;
	}

	.nav-links a {
		height: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #0b032d;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translate(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
	}
	.flexboxItem {
		width: 100%;
		margin-bottom: 30px;
		/* border: 3px solid #f67e7d; */
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.nav-active {
	transform: translate(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes nav-load {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes left-load {
	0% {
		transform: translateX(-10%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes right-load {
	0% {
		transform: translateX(+10%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
